.sidebar{

    display: inline-block;
    background-color: rgba(0, 0, 0, 0.137);
    margin: 0 auto;
padding: 40px;
font-weight: 600;
}
.btn{
    color: white;
    font-weight: 600;
    border: none;
    padding: 8px 12px;
    
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.445);
    border: none;
    color: white;
}
.dash{
 
    padding: 12px 0;
    color: white;
    font-weight: 700;
}