.sidebar{

    display: inline-block;
    background-color: rgba(0, 0, 0, 0.137);
    margin: 0 auto;
padding: 40px 80px;
margin-top: -8px;
font-weight: 600;
height: 100%;

margin-bottom: 10px;
}
.btn{
    color: rgb(242, 89, 77);
    font-weight: 700;
    font-size: 18px;
    /* border: none;
    padding: 8px 12px; */
    
}
.btn:hover{
    background-color: rgb(242, 89, 77); 
    /* border: none; */
    color: white;
}
.dash{
 
    padding: 12px 0;
    color: white;
    font-weight: 700;
}
.btnm{
    padding: 8px 12px;
    outline: none;
    border: none;
    font-weight: 600;
    border-radius: 4px;
}